body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f8f0e3;
    color: #5c3c21;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
    color: #fff;
}

h1, h2, h3{
    color: #8b4513;
}

/*Element selector*/
h2{
    font-size:40px;
    text-align: center;
}

ul{
    list-style: disc;
    font-size: 15px;
}

li{
    margin-bottom: 2px;
}

p{
    color: #5c3c21;
    font-size: 20px;
    margin-bottom: 8px;
}

a{
    color: #b8860b;
    font-size: 15px;
    text-decoration: underline;
}


#main-title{
    color: black;
}

img{
    display:block;
    margin:0 auto;
    border-radius: 6px; /*make the border rounded slightly*/
}

video{
    display:block;
    margin:0 auto;
    border-radius: 10px;
    max-width: 100%;
}

iframe{
    display:block;
    margin:0 auto;
    border-radius: 6px;
    max-width: 100%;
}

table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 50%;
    background-color: #f5deb3;
}

body.dark-mode table {
    border-color: white;
    background-color: antiquewhite;
    color: #f0ecec;
}

th, td{
    text-align: left;
    padding: 10px;
    border: 2px solid #8b4513;
    color:#5c3c21;
}

th{
    background-color: #deb887;
}
body.dark-mode th,
body.dark-mode td {
    background-color: white;
    color: black;
}

body.dark-mode p {
    color: white;
}

body.dark-mode a {
    color: #EEEEEE;
}
